html {
  min-height: 100vh;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

#app {
  align-items: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

#ventanagrafica {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#ventanagrafica canvas {
  position: absolute;
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

.column.iniciar-parar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column.iniciar-parar button {
  margin-right: 1em;
}

.Controles.section {
  max-width: 1000px;
  width: 1000px;
  padding: 0;
  padding-top: 1.5rem;
}

.w-100 {
  width: 100%;
}

.field.is-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MathJax {
  display: flex !important;
}

.Contenedor_ValoresFaseInicial {
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvasfaseinicial {
  margin-top: 5px;
}

.valoresFaseInicial {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 50px;
  min-width: 70px;
}

.UnidadesFaseInicial {
  position: relative;
  top: -5px;
}

.UnidadesFaseInicial .control {
  display: flex;
  align-items: center;
}

.FaseInicialGrados {
  position: relative;
  top: 4px;
}

.Texto-Ayuda {
  margin-top: 50px;
  justify-content: flex-end;
}

.FrecuenciaPeriodo .MathJax,
.TiempoPosicionVelocidadAceleracion .MathJax  {
  display: inline !important;
}

#frecuencia_oscilacion,
#periodo_oscilacion {
  min-width: 50px;
  display: inline-block;
}

